html{height: 100%;}
body.signin {
    background: #18c8f6;
    height: auto;
    background:url("../image/login_background.jpeg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgba(255,255,255,.95);
}

.signinpanel {
    width: 320px;
    margin: 10% auto 0 auto;
}

.signinpanel .form-control {
    display: block;
    margin-top: 15px;
}


.signinpanel .btn {
    margin-top: 15px;
}

.signinpanel form {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255,255,255,.3);
    -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    .signinpanel{
        margin: 0 auto;
        width: 420px!important;
        padding: 20px;
    }
    .signinpanel form {
        margin-top: 20px;
    }
}
@media screen and (max-width: 320px) {
    .signinpanel{
        margin:0 20px;
        width:auto;
    }
}

nav{
    display: inline-block;
}

#topHeaderRow {
    background: #80bdff;
    font-size: 20px;
    color: white;
    text-align: left;
    padding-right: 0;
    padding-bottom: 1%;
    padding-top: 1%;
}

#welcome{
    margin-left: 10pt;
}
#myAccount{
    float:right;
    padding-right: 3px;
}

#hello{
    padding-right: 20pt;
}

#out{
    padding-right: 20pt;
}
a{
    font-size: 20px;
    color: white;
    text-align: left;
    padding-right: 0;
    padding-bottom: 1%;
    padding-top: 1%;
    text-decoration: none;
}
