html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    font-family: arial;
}
#world {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

#inputCodeBox{
    position:absolute;
    width: 300px;
    height: 100px;
    background-color: gray;
    text-align: center;
    margin-top: 20%;
    margin-left:40%;
    border-radius: 5%;
    display: none;
    border: 8px solid #E8E9F7;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

#diaryBox{
    position:absolute;
    width: 400px;
    height: 600px;
    margin-top: 10%;
    margin-left:40%;
    border-radius: 5%;
    display: none;
    border: 8px solid #E8E9F7;
    z-index:1002;
    overflow: hidden;
}

#diaryBox img{
    width: 100%;
    height:100%;
}

#inputCodeBox input{
    margin-top: 30px;
    width:20%;
    height:20%;
    border-radius: 1%;
}

#confirm{
    border-radius: 5%;
}

#close{
    position:relative;
    left:300px;
    top:-580px;
    border-radius: 10%;
    width:80px;
    height:30px;
}

#bg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.3;
    opacity:.30;
    filter: alpha(opacity=30);
}

#waiting{
    width:150px;
    height:30px;
    text-align: center;
    position:absolute;
    top:25px;
    left:50%;
    margin-left:-75px;
    padding-top:10px;
    filter:alpha(opacity=30);
    background-color: darkgray;
    display: none;
}

#packet{

}