.add{
    border: 0px; /*去边框*/
    width: 60px; /*宽*/
    height: 60px;/*高*/
    background-image:url(/image/add.png);/*背景图片*/
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    position:absolute;
    right:30px;
    bottom:30px;
}

.room{
    border: 0px; /*去边框*/
    margin: 20px;
    width: 200px; /*宽*/
    height: 160px;/*高*/
    background-image:url(/image/login_background.jpeg);/*背景图片*/
    background-size:cover;
    background-repeat: no-repeat;
}

#character{
    position: absolute;
    margin: 1%;
    width: 20%;
    height: 80%;
    padding: 1%;
}

#characterImage{
    width: 100%;
}
#content{
    margin-left: 25%;
}

#buttons{
    margin-top: 10%;
    padding: 7%;
}
#characterButton{
    width: 40%;
    background-color: #80bdff;
    margin-right: 1%;
}

#passwordButton{
    width: 40%;
    margin-left: 1%;
    background-color: #80bdff;
}

#showButton{
    margin-top: 5%;
    width: 40%;
    background-color: #80bdff;
}
